#select-date-bar {
  display: flex;
  width: 100%;
  background-color: black;
  margin-top: auto;
  justify-content: space-between;
}

#select-date-bar button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: none;
  border: 1px solid;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 100%;
  margin: 10px;
}

#select-date-bar #left::before {
  content: "←";
}

#right::before {
  content: "→";
}
