#shedule-item {
  display: flex;
  gap: 5px;
}

#shedule-item {
  li {
    width: fit-content;
    height: fit-content;
    border: 2px solid;
    padding: 3px;
    border-color: black;
    margin: 0;
    padding: 0;
  }

  input {
    border: 0;
    outline: 0;
    background: none;
    color: white;
  }
}
